* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  max-width: 100%;
}
.header1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px; 
  color: #0b1f5e; 
  background-color: #7bd2c0;
  padding: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: 1;
  height: 15px;
}

.header2 {
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: #0b1f5e;
  height: 75px;
}

.left-logo {
  width: 180px;
  height: auto;
  margin-right: 15px;
}

.center-research-container {
  list-style: none; 
}

.search-box {
  display: flex;
  width: 200piun!;
  justify-content: center;
  align-items: center;
  border: 1px solid #d8dadf; 
  border-radius: 100px; 
  overflow: hidden; /* 确保内容不会溢出 */
  flex-grow: 1;
}

.search-box input {
  flex-grow: 1; /* 伸缩，收缩，自动宽度 */
  width: 700px; /* 设置搜索框宽度 */
  padding: 13px; /* 内边距，增大搜索框的高度 */
  border: none; 
  outline: none; 
  max-width: 700px;
}

.search-box button {
  padding: 10px; /* 内边距，增大按钮的高度 */
  border: none; 
  background-color: #71eace; /* 按钮背景颜色 */
  cursor: pointer; /* 鼠标悬停时显示手型图标 */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-right: 5px;
}

.right-icon {
  transform: scale(0.5); 
  width: 120px;
  cursor: pointer;
  margin-right: 10px;
}

.header3 {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center; 
  background-color: #0b1f5e;
  flex-grow: 1;

}

.header3-item {
  display: flex;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px; 
  color: #ffffff; 
  width: 100%;
  margin: 0 30px;
  flex-grow: 3;
  padding: 0 10px; /* 控制内部间隙 */
}

.header3-item li {
  text-align: center; 
  list-style: none;
  font-family: Arial, sans-serif; /* 设置字体 */
  font-size: 16px; /* 设置字体大小 */
  color: #ffffff; /* 设置文字颜色 */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0b1f5e;
  height: 40px;
  padding: 0 2px; /* 控制内部间隙 */
  cursor: pointer;
}

.bt1 {
  color: #ffffff;
  background-color: #d5382e;
  border-color: #d5382e;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;


}

.bt2 {
  color: #72411b; /* 设置文字颜色 */
  background-color: #f6c875;
  border-color: #f6c875;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  flex-grow: 15;

}

.bt4 {
  color: #ffffff; /* 设置文字颜色 */
  background-color: #3c59ab;
  border-color: #3c59ab;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  cursor: pointer;
}

.header3-item img {
  width: 100%; 
  height: 100%; 
  margin: 0; /* 去除多余的外边距 */
  padding: 0; /* 去除多余的内边距 */
  display: inline-block; /* 确保图像不会占用整个行 */
  cursor: pointer;
}

.bloc-left{
  width: 910px;
  height: 320px;
  margin-top: 30px;
  margin-left: 30px;
}

.bloc-scroll {
  display: flex;
  width: 100%;
  height:100%;
  padding-bottom: 15px;
  gap: 12px;
  scroll-snap-type: x mandatory;
  overflow: auto;
} 

.bloc-left .scroll-item {
  object-fit: cover;
  width: 0;
  flex: 0 0 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  border-radius: 8px;
}

.blocs {
  display: flex;
  flex-direction: column; /* 确保子元素垂直排列 */
  align-items: center; 
  justify-content: center; 
  width: 100%; 
  height: 100%; 
  max-width: 100%; 
}

.bloc-1 {
  display: flex;
  width: 100%;
  flex: 1;
}

.bloc-left {
  width: 910px;
  height: 320px;
  margin-top: 30px;
  margin-left: 30px;
}

.bloc-scroll {
  display: flex;
  width: 100%;
  height:100%;
  padding-bottom: 15px;
  gap: 12px;
  scroll-snap-type: x mandatory;
  overflow: auto;
  scrollbar-width: none; 
} 

.bloc-left .scroll-item {
  object-fit: cover;
  width: 0;
  flex: 0 0 100%;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  border-radius: 8px;
}

.bloc-right {
  width: 447px;
  height: 147px;
  display: flex;
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 10px;
}

.bloc-still {
  display: flex;
  width: 100%;
  height: 100%;
  padding-bottom: 15px;
  gap: 20px;
  flex-direction: column;
  border-radius: 8px; 
}

.still1-item .bloc-still {
  width: 0;
  flex: 0 0 100%;
  border-radius: 8px;
}

.bloc-2 {
  width: 100%; 
  display: flex;
  justify-content: center; 
  margin-top: 8px;
  margin-left: 60px;

}

.bloc-still2 {
  display: flex;
  width: 1750px; 
  height: 152px;
  padding-bottom: 10px;
  gap: 15px;
  border-radius: 8px; 
}

.still2-item .bloc-still2 {
  width: 1;
  flex: 0 0 100%;
  border-radius: 8px;
}

.blocs img{
  border-radius: 8px;
}

.recom1 {
  margin: 30px;
  max-width: 100%; 
}

.recom1 strong{
  font-size: 20px; 
}

.selec1 {
  display: flex;
  gap: 10px; 
  white-space: nowrap;
  overflow-x: auto; /* 水平滚动 */
  margin-top: 5px;
  padding: 15px 0; 
  margin: 0 auto; /* 居中 */
  scrollbar-width: none;
  width: 100%; 
}

.selec1 img {
  width: 200px; 
  height: auto; 
  border-radius: 8px;
  box-shadow: 0 2px 5px #333333;
  object-fit: cover; 
}
.selec-item {
  max-width: 100%; 
  margin: 10px;
}

.recom2 {
  margin: 30px;
  max-width: 100%; 
}

.recom2 strong{
  font-size: 20px; 
}

.selec2 {
  display: flex;
  gap: 10px; 
  white-space: nowrap;
  overflow-x: auto; /* 水平滚动 */
  margin-top: 5px;
  padding: 15px 0; 
  margin: 0 auto; /* 居中 */
  scrollbar-width: none;
  width: 100%; 
}

.selec2 img {
  width: 200px; 
  height: auto; 
  border-radius: 8px;
  box-shadow: 0 2px 5px #333333;
  object-fit: cover; 
}
.selec-item2 {
  max-width: 100%; 
  margin: 10px;
}